atomicwrites==1.1.5
attrs==19.2.0
dask[complete]==2021.2.0
dask-distance==0.2.0
dask-ml==1.8.0
more-itertools==4.2.0
pluggy==0.13.1
py==1.8.2
pytest==6.2.2
pytest-cov==2.11.1
six==1.11.0
matplotlib==3.3.4
pandas==0.25.1
scikit-learn==0.21.3
numpy==1.17.2
numba==0.51.2
